<div class="main">
<div class="content">
    <% @post.each do |p|%>
    <div class="image group">
            <div class="grid images_3_of_1">
                <img src=<%=p.image2%> alt="" width="300" height="300"/>
            </div>
            <div class="grid news_desc">
                <h3><%= p.title%></h3>
                <h4>Posted <%= time_ago_in_words(p.created_at) %> ago. by <span><a href="#">Vu Hai Son</a></span></h4>
                <p><%= p.content%></p>
           </div>
       </div>
       <%end%>
       <div class="content-pagenation">
                    <li><a href="#">Frist</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><span>....</span></li>
                    <li><a href="#">Last</a></li>
                    <div class="clear"> </div>
                </div>	
     </div> 
</div>
</div>