 <div class="wrap"> 
  <div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li><%=link_to "Users Management",admin_users_path%></li>
			    	<li><a href="about.html">About</a></li>
			    	<li><a href="delivery.html">Delivery</a></li>
			    	<li><a href="news.html">News</a></li>
						<li><a href="contact.html">Contact</a></li>
						<% if logged_in?%>
						<% if current_user.admin? %>
						<li><%=link_to "Admin page", admin_path%></li>
						<%end%>
						<%end%>
					
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form>
	     			<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
         </div>
    </div>