 <div class="wrap"> 
  <div class="header_bottom">
	     	<div class="menu">
				 <ul>
				    <li><%=link_to "Admin page", admin_path%></li>
			    	<li><%=link_to "Users Management",admin_users_path%></li>
					<li><%= link_to "Laptops Management",admin_laptops_path%></li>
					<li><%= link_to "Post Management",admin_microposts_path%></li>
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form>
	     			<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
         </div>
    </div>