  <div class="card" style="width:400px">
      <strong><h1><%= @laptop.name %></h1></strong> 
      <%=link_to image_tag("affinity.jpeg", :alt => "First slide", :class => "d-block w-100") %> 
  </div>
